/* Stylesheet of the design guide
   It only contains style related to the structure of the design guide, not its content
   The styleshet uses the BEM methodology, as block__element_modifier (https://en.bem.info)
 */

html {
	font-size: 16px;
}

body {
	font-size: .875rem;
}

.component__code {
	border: 1px solid lightgrey;
	background: hsl(0, 0%, 90%);
	border-radius: .25rem;
	padding: .5rem;
}