{% extends "core/base.jinja" %}
{% from "core/ui_macros.jinja" import ui_button, ui_link %}

{% block title %}
{% trans %}Welcome!{% endtrans %}
{% endblock %}

{% block content %}
    {{ get_sith().index_page|markdown }}
    {{ svg_sprites('home') | safe }}
    {{ ui_button("Submit", "home", id='dead', disabled='', class=['primary']) }}
    {{ ui_link("Submit", class=['primary']) }}
    {{ ui_link("Submit", href='#', class=['primary']) }}
{% endblock %}
