{% extends "core/base.jinja" %}
{% from "core/ui_macros.jinja" import ui_button, ui_link %}

{% block title %}
{% trans %}Welcome!{% endtrans %}
{% endblock %}

{% block content %}
    {{ get_sith().index_page|markdown }}
    {{ svg_sprites('home', 'send') }}
    {{ ui_button("Submit", "home", class=['primary']) }}
    {{ ui_link("Submit", 'send', class=['primary']) }}
    {{ ui_link("Submit", 'send', href='#', class=['primary']) }}
{% endblock %}
