{% macro ui_button(label, icon, type="button", class=[]) %}
<button type="{{ type }}" class="button {{ class | join(' ') }}"
{%- for kwarg in kwargs %} {{ kwarg }}="{{ kwargs[kwarg] }}"{% endfor %}>
    <span class="button__label">{% trans %}{{ label }}{% endtrans %}</span>
    {%- if icon %}
    <span class="button__icon material-icons">{{ icon }}</span>
    {%- endif %}
</button>
{% endmacro %}

{% macro ui_link(label, icon, href='', class=[]) %}
<a {% if href %}href="{{ href }}" {% endif %}class="button button_link {{ class | join(' ') }}">
	<span class="button__label">{% trans %}{{ label }}{% endtrans %}</span>
    {%- if icon %}
    <span class="button__icon material-icons">{{ icon }}</span>
    {%- endif %}
</a>
{% endmacro %}