* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: hsl(219.6, 20.8%, 98%);
  
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  
  font-size: .875rem;
}

.svg-sprites {
  display: none;
}

.ui-button {  
  background-color: hsl(219.6, 20.8%, 98%);
  color: hsla(0, 0%, 0%, .87);
  
  border: 1px solid hsl(219.6, 20.8%, 83%);
  font-size: 1em;
  line-height: 1rem;
  font-weight: 600;
  padding: 0 calc(1rem - 1px);
  border-radius: .125rem;
  cursor: pointer;
  margin: .25rem;
  height: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color .4s cubic-bezier(.25,.8,.25,1) ,background-color .4s cubic-bezier(.25,.8,.25,1);
}

.ui-button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.ui-button:hover,
.ui-button:active,
.ui-button:focus {
  background-color: hsl(219.6, 20.8%, 83%);
  color: hsla(0, 0%, 0%, .87);
  outline: none;
}

.ui-button:disabled {
  cursor: default;
  background-color: hsl(219.6, 20.8%, 83%);
  color: hsla(0, 0%, 0%, .38);
}

.ui-button_primary {
  padding: 0 1rem;
  border: none;
  background-color: hsl(219.9, 53.7%, 50%);
  color: hsl(0, 0%, 100%);
}
 
.ui-button_primary:hover,
.ui-button_primary:active,
.ui-button_primary:focus {
  background-color: hsl(219.8, 46.4%, 35.1%);
  color: hsl(0, 0%, 100%);
}

.ui-button_primary:disabled {
  background-color: hsl(219.8, 46.4%, 64.9%);
  color: hsla(0, 0%, 0%, .38);
}

a.ui-button_link {
  border-width: 0;
  border-color: transparent;
  text-decoration: none;
  background: none;
  padding: 0 1rem;
}

a.ui-button_link:hover,
a.ui-button_link:active,
a.ui-button_link:focus {
  text-decoration: underline;
  background: none;
}

a.ui-button_link:focus {
  border: 2px solid hsl(219.6, 20.8%, 50%);
  padding: calc(1rem - 2px);
}

a.ui-button_link:not(:link):not(:visited) {
  color: hsla(0, 0%, 0%, .38);
  text-decoration: none;
  cursor: default;
}

.ui-button__label {
  display: inline-flex;
  font-size: 1em;
  line-height: 1rem;
}

.ui-button__icon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
}

.ui-button_primary .ui-icon {
  fill: hsl(0, 0%, 100%);
}

.ui-button_primary:disabled .ui-icon {
  fill: hsla(0, 0%, 0%, .38);
}


.ui-icon {
  width: 100%;
  height: 100%;
  color: inherit;
  fill: currentColor;
}

.ui-text-field {
  position:  relative;
  margin: 1rem 0;
}

.ui-text-field__input {
  background: transparent;
  border: none;
  height: 2rem;
  width: 100%;
  font-size: 1em;
  padding: 0;
  border-bottom: 1px solid blue;
  margin-bottom: 1px;
  box-sizing: initial;
}

.ui-text-field__input:focus {
  outline: none;
  border-width: 2px;
  margin-bottom: 0;
}

.ui-text-field__label {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: text;

  transform-origin: left;
  position: absolute;
  top: .5rem;
  transition: opacity .25s cubic-bezier(0,0,.3,1), transform .25s cubic-bezier(0,0,.3,1);
}

.ui-text-field__input:focus + .ui-text-field__label {
  transform: translateY(-1.15rem) scale(.8);
}

.ui-text-field__input:not(:focus):not([value='']) + .ui-text-field__label {
  opacity: 0;
  transform: translateY(-1.15rem) scale(.8);
}

.ui-text-field__messages {
  margin-top: .5rem;
  display: flex;
  flex-flow: column nowrap;
}

.ui-text-field__message {
  font-size: .75em;
  margin-top: .25rem;
  color: hsla(0, 0%, 0%, .54);
}

.ui-text-field__message:first-child {
  margin-top: 0;
}

.ui-text-field__message_error {
  color: #F44336;
}

.ui-select {
  position: relative;
  margin: 1rem 0;
}

.ui-select__dropdown {
    border: none;
    border-bottom: 1px solid blue;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    height: 2rem;
}

.ui-select__label {
  pointer-events: none;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: text;

  transform-origin: left;
  position: absolute;
  top: .5rem;
  transition: opacity .25s cubic-bezier(0,0,.3,1), transform .25s cubic-bezier(0,0,.3,1);
}

.ui-select__dropdown:focus + .ui-select__label {
  transform: translateY(-1.15rem) scale(.8);
}

.ui-select__dropdown:not(:focus):not([value='']) + .ui-select__label {
  opacity: 0;
  transform: translateY(-1.15rem) scale(.8);
}